<%- include("../partials/header.ejs") %>

<h1>Sign Up</h1>

<form method="POST" action="/auth/sign-up">
  <!-- Username -->
  <label for="username">Username:</label>
  <input type="text" name="username" required />

  <!-- Password -->
  <label for="password">Password:</label>
  <input type="password" name="password" required />

  <!-- Age -->
  <label for="age">Age:</label>
  <input type="number" name="age" min="0" />

  <!-- Rank -->
  <label for="rank">Rank:</label>
  <select name="rank">
    <option value="white">White</option>
    <option value="blue">Blue</option>
    <option value="purple">Purple</option>
    <option value="brown">Brown</option>
    <option value="black">Black</option>
  </select>

  <!-- Bio -->
  <label for="bio"> Bio:</label>
  <textarea name="bio" rows="3" cols="30"></textarea>

  <!-- Submit -->
  <button type="submit">Sign Up</button>
</form>

<%- include("../partials/footer.ejs") %>
