<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BJJ Instructionals</title>

  <!-- Correct stylesheets -->
  <link rel="stylesheet" href="/stylesheet/styles.css" />
</head>
<body>
  <%- include("./navbar.ejs") %> <!-- Optional: Only if navbar is needed on login -->
