<!-- Navbar -->
<nav class="navbar">
  <ul>
    <li><a href="/home">Home</a></li>
    <li class="profile-link"><a href="/users/<%= user._id %>/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
