/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HOME */
.home-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
}

.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Glass Box Styling for Title */
.home-box {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(189, 179, 179, 0.1);
  padding: 2rem;
  border-radius: 20px;
  width: 60%;
  max-width: 600px;
  margin: 0.5rem auto;
  text-align: center;
  z-index: 1;
}

/* Title Styling */
.home-title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

/* Flex Container for Side-by-Side Buttons */
.home-button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 2rem;
  padding: 0 5vw;
  z-index: 1;
}

/* Each Button's Glass Box */
.home-button-box {
  width: fit-content;
  background: rgba(179, 172, 172, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(170, 163, 163, 0.3);
  display: flex;
  justify-content: center;
  margin: 1rem;

}

/* Button Styling */
.home-button {
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

.home-button:hover {
  background-color: #9fafba;
}
