<%- include("partials/header") %>

<div class="home-page">
  <!-- Top Title -->
  <h1 class="home-title">BJJ Instructionals</h1>

  <!-- Button Section -->
  <div class="home-button-row">
    <a href="/instructionals" class="home-button">Instructionals</a>
    <a href="/posts" class="home-button">Community Reviews</a>
  </div>
</div>

<%- include("partials/footer") %>
